POSTGRES_USER=urr_user
POSTGRES_PASSWORD=<change-me>
AUTH_DB_USERNAME=urr_user
AUTH_DB_PASSWORD=<change-me>
TICKET_DB_USERNAME=urr_user
TICKET_DB_PASSWORD=<change-me>
PAYMENT_DB_USERNAME=urr_user
PAYMENT_DB_PASSWORD=<change-me>
STATS_DB_USERNAME=urr_user
STATS_DB_PASSWORD=<change-me>
COMMUNITY_DB_USERNAME=urr_user
COMMUNITY_DB_PASSWORD=<change-me>
JWT_SECRET=<base64-encoded-secret>
INTERNAL_API_TOKEN=<change-me>
QUEUE_ENTRY_TOKEN_SECRET=<min-32-chars>
TOSS_CLIENT_KEY=<toss-key>
CLOUDFRONT_SECRET=<change-me>
