apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: urr-spring

resources:
  - namespace.yaml
  - ../../base
  - postgres.yaml
  - dragonfly.yaml
  - kafka.yaml
  - zipkin.yaml
  - pvc.yaml
  - loki.yaml
  - promtail.yaml
  - grafana.yaml
  - grafana-alerting.yaml
  - grafana-dashboards.yaml
  - prometheus.yaml

configMapGenerator:
  - name: spring-kind-config
    envs:
      - config.env

secretGenerator:
  - name: spring-kind-secret
    envs:
      - secrets.env

generatorOptions:
  disableNameSuffixHash: true

patches:
  - path: patches/gateway-service.yaml
  - path: patches/auth-service.yaml
  - path: patches/ticket-service.yaml
  - path: patches/payment-service.yaml
  - path: patches/stats-service.yaml
  - path: patches/queue-service.yaml
  - path: patches/catalog-service.yaml
  - path: patches/community-service.yaml
  - path: patches/gateway-service-nodeport.yaml
  - path: patches/frontend-service-nodeport.yaml
  - path: patches/frontend.yaml

images:
  - name: YOUR_ECR_URI/gateway-service
    newName: urr-spring-gateway-service
    newTag: local
  - name: YOUR_ECR_URI/auth-service
    newName: urr-spring-auth-service
    newTag: local
  - name: YOUR_ECR_URI/ticket-service
    newName: urr-spring-ticket-service
    newTag: local
  - name: YOUR_ECR_URI/payment-service
    newName: urr-spring-payment-service
    newTag: local
  - name: YOUR_ECR_URI/stats-service
    newName: urr-spring-stats-service
    newTag: local
  - name: YOUR_ECR_URI/queue-service
    newName: urr-spring-queue-service
    newTag: local
  - name: YOUR_ECR_URI/catalog-service
    newName: urr-spring-catalog-service
    newTag: local
  - name: YOUR_ECR_URI/community-service
    newName: urr-spring-community-service
    newTag: local
  - name: YOUR_ECR_URI/frontend
    newName: urr-spring-frontend
    newTag: local
