apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-spring
data:
  01-init-databases.sql: |
    CREATE DATABASE auth_db;
    CREATE DATABASE ticket_db;
    CREATE DATABASE payment_db;
    CREATE DATABASE stats_db;
    CREATE DATABASE community_db;
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-spring
  labels:
    app: postgres-spring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-spring
  template:
    metadata:
      labels:
        app: postgres-spring
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: spring-kind-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: spring-kind-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              value: postgres
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$POSTGRES_USER" -d postgres
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$POSTGRES_USER" -d postgres
            initialDelaySeconds: 20
            periodSeconds: 10
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-script
          configMap:
            name: postgres-init-spring
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-spring
  labels:
    app: postgres-spring
spec:
  type: NodePort
  selector:
    app: postgres-spring
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      nodePort: 30432
