spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth
            uri: ${AUTH_SERVICE_URL:http://localhost:3005}
            predicates:
              - Path=/api/auth/**
          - id: payment
            uri: ${PAYMENT_SERVICE_URL:http://localhost:3003}
            predicates:
              - Path=/api/payments/**
          - id: stats
            uri: ${STATS_SERVICE_URL:http://localhost:3004}
            predicates:
              - Path=/api/stats/**
          - id: events
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/events/**
          - id: tickets
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/tickets/**
          - id: seats
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/seats/**
          - id: reservations
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/reservations/**
          - id: queue
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/queue/**
          - id: admin
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/admin/**
          - id: news
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/news/**
          - id: artists
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/artists/**
          - id: memberships
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/memberships/**
          - id: transfers
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/transfers/**
          - id: image
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/image/**
          - id: time
            uri: ${TICKET_SERVICE_URL:http://localhost:3002}
            predicates:
              - Path=/api/time/**

server:
  port: ${PORT:3001}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
