apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-rollouts

resources:
  - namespace.yaml
  - https://github.com/argoproj/argo-rollouts/releases/download/v1.7.2/install.yaml
