apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          imagePullPolicy: IfNotPresent
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "http://gateway-service:3001"
